<p style="color: green">
  <%= notice %>
  <nav>
    <%= link_to "Books", books_path %> |
    <%= link_to "Genres", genres_path %>
  </nav>
</p>

<h1>Authors</h1>

<div>
  <%= form_tag authors_path, method: :get do %>
    <%= label_tag :q, "Search:" %>
    <%= text_field_tag :q %>
    <%= submit_tag "Search" %>
  <% end %>
</div>

<div id="authors">
  <% @authors.each do |author| %>
    <%= render author %>
    <p>
      <%= link_to "Show this author", author %>
    </p>
  <% end %>
</div>

<%= link_to "New author", new_author_path %>
